@{
    ViewData["Title"] = "Access Denied";
}


<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-2">
        <h1 class="display-5 fw-bold">@ViewData["Title"] </h1>
        <h5 class="text-muted">Skoruba Identity Server</h5>
        <p class="col-md-12 fs-4">
            The page you are trying to access is not authorized. In case of further inquiry kindly contact your application manager.
        </p>
        <hr />
        <a href="/" class="btn btn-lg btn-block btn-secondary">Home</a>
    </div>
</div>